<section class="py-24 md:pb-48 md:pt-24 | section" data-color="bg-grey" id="projects">
	<div class="container">
		<div class="row">
			<div class="col w-full sm:w-10/12 mb-20 md:mb-48">
				<h2 class="alpha break-words stroke-blue | js-translateX">
					Projects
				</h2>
			</div>
		</div>
		<div class="row flex-col-reverse md:flex-row | project-row">
			<div class="col w-full md:w-3/12 xl:w-2/12 z-10 mb-16 mt-12 lg:mt-0">
				<h3 class="bravo md:charlie mb-6 break-words">
					BaySentry
				</h3>
				<a href="#" target="_blank" class="button">
					View live site
				</a>
			</div>
			<div class="col hidden lg:block lg:w-3/12 md:-mt-32">
				<div class="relative w-full z-20 | js-parallax parallax-scroll" style="padding-top:217.1581769437%;" data-parallax="-0.15">
					<%= image_tag("citipark-pcn-mobile.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
				</div>
			</div>
			<div class="col w-full md:w-9/12 lg:w-7/12 xl:w-8/12 lg:-ml-1/12 md:-mt-16">
				<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:71.0709318498%;" data-parallax="-0.1">
					<%= image_tag("citipark-pcn-mobile.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
				</div>
			</div>
		</div>
		<div class="row | project-row">
			<div class="col w-full md:w-9/12 lg:w-7/12 xl:w-8/12 md:-mt-16">
				<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:71.0709318498%;" data-parallax="-0.1">
					<%= image_tag("landtech-desktop.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
				</div>
			</div>
			<div class="col hidden lg:block lg:w-3/12 lg:-ml-1/12 lg:-mt-40">
				<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:217.1581769437%;" data-parallax="-0.16">
					<%= image_tag("landtech-desktop.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
				</div>
			</div>
			<div class="col w-full sm:w-8/12 md:w-3/12 lg:w-3/12 xl:w-2/12 md:text-right mb-16 mt-12 lg:mt-0">
				<h3 class="bravo md:charlie mb-6 break-words">
					LandTech
				</h3>
				<a href="https://craptravel.com/" target="_blank" class="button">
					View live site
				</a>
			</div>
		</div>
		<div class="row flex-col-reverse md:flex-row mb-56">
			<div class="col w-full md:w-3/12 xl:w-2/12 z-10 mb-16 mt-12 lg:mt-0">
				<h3 class="bravo md:charlie mb-6 break-words">
					BaySentry
				</h3>
				<a href="#" target="_blank" class="button">
					View live site
				</a>
			</div>
			<div class="col hidden lg:block lg:w-3/12 md:-mt-32">
				<div class="relative w-full z-20 | js-parallax parallax-scroll" style="padding-top:217.1581769437%;" data-parallax="-0.15">
					<%= image_tag("citipark-pcn-mobile.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
				</div>
			</div>
			<div class="col w-full md:w-9/12 lg:w-7/12 xl:w-8/12 lg:-ml-1/12 md:-mt-16">
				<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:71.0709318498%;" data-parallax="-0.1">
					<%= image_tag("citipark-pcn-mobile.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
				</div>
			</div>
		</div>
	</div>
</section>
