<main id="mainTag" class="">
	<div id="background" class=""></div>
	<%= render 'home/hero' %>
	<%= render 'home/projects' %>

	<section class="relative | section" data-color="bg-blue">
		<svg viewbox="0 0 273 274" class="fill-current absolute text-pink opacity-50 | position-svg-8">
			<rect width="262" height="262" x="13.801" y="530" rx="131" transform="rotate(-14 -1993.018 431.577)"/>
		</svg>
		<svg viewbox="0 0 273 274" class="fill-current absolute text-lightBlue | position-svg-9 svg-shadow">
			<rect width="262" height="262" x="13.801" y="530" rx="131" transform="rotate(-14 -1993.018 431.577)"/>
		</svg>
		<svg viewbox="0 0 270 270" class="absolute | position-svg-10 js-parallax parallax-rotate" data-parallax="-0.2">
			<linearGradient id="myGradient" gradienttransform="rotate(90)">
				<stop offset="5%" stop-color="#00DCFF"/>
				<stop offset="95%" stop-color="#FFC7DB"/>
			</linearGradient>
			<rect width="230" height="230" x="20" y="20" fill="none" stroke="url(#myGradient)" stroke-width="14" rx="131"/>
		</svg>
		<div class="container">
			<div class="row">
				<div class="col w-full xl:w-11/12 mb-32">
					<h2 class="alpha text-right stroke-blue">
						<span style="font-size:0.8em;">Smaller Contributions</span>
					</h2>
				</div>
			</div>
			<div class="row flex-col-reverse md:flex-row pb-32 md:pb-48 lg:pb-64 md:pt-20">
				<div class="col w-full md:w-7/12 xl:w-6/12 xl:ml-1/12 md:-mt-16">
					<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:71.0709318498%;" data-parallax="-0.1">
						<%= image_tag("crap-travel-desktop.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
					</div>
				</div>
				<div class="col hidden lg:block lg:w-3/12 md:-ml-1/12 lg:-mt-32">
					<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:217.1581769437%;" data-parallax="-0.16">
						<%= image_tag("crap-travel-mobile.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
					</div>
				</div>
				<div class="col w-full sm:w-8/12 md:w-3/12 xl:w-3/12 md:ml-1/12 lg:ml-0 xl:-ml-1/12 md:text-right mb-16 z-20">
					<h3 class="bravo md:charlie mb-2 md:mb-0 break-words">
						Crap Travel
					</h3>
					<div class="charlie mb-6" style="-webkit-text-fill-color: #FFC7DB;">
						Loserboard
					</div>
					<a href="https://craptravel.com/" target="_blank" class="button">
						View live site
					</a>
				</div>
			</div>

			<div class="row flex-col md:flex-row pb-32 md:pb-64 md:pt-48">
				<div class="col w-full md:w-4/12 xl:ml-1/12 text-right md:text-left z-10 mb-16">
					<h3 class="bravo md:charlie mb-2 md:mb-0 break-words">
						Present and Correct
					</h3>
					<div class="charlie mb-6" style="-webkit-text-fill-color: #FFC7DB;">
						Demo rebuild
					</div>
					<a href="https://github.com/Ronald-Crosby/Present-and-Correct" target="_blank" class="button">
						View on GitHub
					</a>
				</div>
				<div class="col hidden lg:block lg:w-3/12 xl:-ml-1/12">
					<div class="relative w-full z-20 | js-parallax parallax-scroll" style="padding-top:217.1581769437%;" data-parallax="-0.15">
						<%= image_tag("present-mobile.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
					</div>
				</div>
				<div class="col w-full md:w-7/12 xl:w-6/12 md:ml-1/12 lg:-ml-2/12 md:-mt-16">
					<div class="relative w-full | js-parallax parallax-scroll" style="padding-top:71.0709318498%;" data-parallax="-0.1">
						<%= image_tag("present-desktop.jpg", class: "inset-0 absolute w-full h-full rounded-lg shadow-2xl object-cover") %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="relative | section" data-color="bg-purple" id="about"></section>
</main>
